.advantages {
  display: flex;
  justify-content: space-between;

  &__header {
    color: $fontMAINcolor;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    padding-bottom: 10px;
  }
  &__text {
    line-height: 1.7;
  }
  &__icon {
    background-color: #f5f4fa;
    padding: 25px 100px;
    margin-bottom: 30px;
  }
}
.advantages > li:not(:last-child) {
  margin-right: 30px;
}
