.header {
  border-bottom: 1px solid #ececec;

  &__section {
    display: flex;
    justify-content: space-between;
    padding: 5px 10px 5px 5px;
    justify-content: space-between;
    align-items: center;
  }
  &__navigation {
    display: flex;
    align-items: center;
  }
  &__logo {
    max-width: 200px;
  }
  &__call {
    width: 50px;
    height: 30px;
  }
  &__call__wrapper {
    padding-left: 95px;
  }
  &__modal__open {
    background-color: white;
  }
  &__modal__open__icon {
    width: 40px;
    height: 50px;
  }
  &__menu {
    display: none;
  }
}

.contacts {
  column-gap: 50px;
  &--hidden {
    display: none;
  }
  &__link {
    font-family: $fontPrimary;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    fill: $paragrafColor;
    color: $paragrafColor;
    display: flex;
    align-items: center;
    transition-property: color, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__link:focus,
  &__link:hover {
    color: $brandColor;
    fill: $brandColor;
  }
  &__icon {
    margin-right: 10px;
  }
}

@media screen and (min-width: 768px) {
  .header {
    border-bottom: 1px solid #ececec;

    &__section {
      display: flex;
      justify-content: space-between;
      padding-top: 21px;
      padding-bottom: 21px;
      justify-content: space-between;
      align-items: center;
    }
    &__navigation {
      display: flex;
      align-items: center;
    }
  }
  .menu {
    display: flex;
    column-gap: 60px;
    display: flex;
    justify-content: space-between;
    padding-left: 83px;
    &__item {
      position: relative;
    }
    &__link {
      display: inline-block;
      color: $fontMAINcolor;
      transition-property: color, fill;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      font-family: $fontPrimary;
      font-weight: 500;
      font-size: 14px;
      line-height: 1.1;
      letter-spacing: 0.02em;
    }
    &--active::after,
    &--bordered:hover::after,
    &--bordered:focus::after {
      position: absolute;
      right: 0;
      margin-top: 46px;
      content: "";
      width: 100%;
      border-bottom: solid 4px #2196f3;
      border-radius: 4px;
    }
    &__link:focus,
    &__link:hover {
      color: $brandColor;
      fill: $brandColor;
    }
  }
  .menu-toggle {
    display: none;
  }
  .contacts {
    row-gap: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &__link {
      font-family: $fontPrimary;
      font-weight: 500;
      font-size: 14px;
      line-height: 1.1;
      letter-spacing: 0.02em;
      fill: $paragrafColor;
      color: $paragrafColor;
      display: flex;
      align-items: center;
      transition-property: color, fill;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
    &__link:focus,
    &__link:hover {
      color: $brandColor;
      fill: $brandColor;
    }
    &__icon {
      margin-right: 10px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .header {
    border-bottom: 1px solid #ececec;

    &__section {
      display: flex;
      justify-content: space-between;
      padding-top: 24px;
      padding-bottom: 25px;
      align-items: center;
    }
    &__navigation {
      display: flex;
      align-items: center;
    }
  }
  .menu {
    column-gap: 46px;
    display: flex;
    justify-content: space-between;
    &__item {
      position: relative;
    }
    &__link {
      display: inline-block;
      color: $fontMAINcolor;
      transition-property: color, fill;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      font-family: $fontPrimary;
      font-weight: 500;
      font-size: 14px;
      line-height: 1.1;
      letter-spacing: 0.02em;
    }
    &--active::after,
    &--bordered:hover::after,
    &--bordered:focus::after {
      position: absolute;
      right: 0;
      margin-top: 37px;
      content: "";
      width: 100%;
      border-bottom: solid 4px #2196f3;
      border-radius: 4px;
    }
    &__link:focus,
    &__link:hover {
      color: $brandColor;
      fill: $brandColor;
    }
  }
  .contacts {
    column-gap: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    &__link {
      font-family: $fontPrimary;
      font-weight: 500;
      font-size: 14px;
      line-height: 1.1;
      letter-spacing: 0.02em;
      fill: $paragrafColor;
      color: $paragrafColor;
      display: flex;
      align-items: center;
      transition-property: color, fill;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
    &__link:focus,
    &__link:hover {
      color: $brandColor;
      fill: $brandColor;
    }
    &__icon {
      margin-right: 10px;
    }
  }
}
