.introduction {
  padding: 0;
  border: 1px solid #000;
  background-color: $introductionBackgroundColor;
  &__img {
    margin: auto;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/HeaderImg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1600px;
  }
  &__wrapper {
    padding: 118px 57px;
    text-align: center;
  }
  &__slogan {
    font-size: 26px;
    font-weight: 900;
    line-height: 1.62;
    letter-spacing: 0.06em;
    color: $backgroundThird;
    padding-bottom: 30px;
  }
  &__button {
    border: none;
    font-family: $fontPrimary;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.9;
    letter-spacing: 0.06em;
    color: $backgroundThird;
    background-color: $brandColor;
    padding: 10px 41px 10px 42px;
  }
}
@media screen and (min-width: 768px) {
  .introduction__wrapper {
    padding: 118px 201px 118px 201px;
  }
  .introduction__slogan {
    padding-bottom: 40px;
  }
  .introduction__img {
    background-image: url(../images/HeaderTabletimg.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .introduction__wrapper {
    padding: 200px 452px;
  }
  .introduction__slogan {
    font-size: 44px;
  }
}
