// //.section--hidden {
// //display: none;
// //}
// @media screen and (min-width: 1200px) {
//   .section--hidden {
//     display: block;
//   }
// }

.OurService__list {
  display: flex;
  justify-content: space-around;
}
// .OurService__text {
//   color: $fontMAINcolor;
//   font-weight: 700;
//   font-size: 14px;
//   line-height: 1.1;
//   padding-bottom: 10px;
//   display: flex;
//   flex-direction: column;
// }
// .OurService__img {
//   display: block;
// }
// .OurService__item {
//   position: relative;
//   max-width: 150px;
// }
.OurService__img {
  max-width: 100px;
}
// .OurService__text {
//   position: absolute;
//   bottom: 0;
//   width: 100%;
//   padding: 27px;
//   text-align: center;
//   background: rgba(47, 48, 58, 0.8);
//   color: rgba(255, 255, 255, 1);
// }
// .OurService__list > li:not(:last-child) {
//   margin-right: 30px;
// }
