$brandColor: #2196f3;
$fontMAINcolor: #212121;
$h2fontSize: 36px;
$clientsBorderColor: #afb1b8;
$iconsFilling: #afb1b8;
$fontPrimary: "Roboto", sans-serif;
$fontSecondary: "Raleway", sans-serif;
$paragrafColor: #757575;
$backgroundSecondary: #f5f4fa;
$backgroundThird: #fff;
$paragrafsize: 16px;
$introductionBackgroundColor: #2f303a;
